h2 {
  font-weight: bold;
}

.content-1 {
  padding: 7%;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  font-family: "Verdana";
}

.content-1 img {
  float: right;
}

.content-2 {
  padding: 10% 7% 4% 7%;
  padding-left: 8%;
  height: 100%;
  width: 100%;
  background-color: #1b1c1c;
  color: #ffffff;
  margin: auto;
  font-family: "Verdana";
}

.content-3 {
  padding: 3% 7% 7% 7%;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#1b1c1c, #dadbdf);
  color: #ffffff;
  margin: auto;
  font-family: "Verdana";
}

.content-3 img {
  float: right;
}

.text-1 {
  padding-bottom: 20px;
  padding-right: 10%;
}

.text-2 {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 15%;
}

@media only screen and (max-width: 1200px) {
  .content-1 img {
    float: none;
    margin: auto;
    display: block;
  }
  .content-2 img {
    float: none;
    margin: auto;
    display: block;
  }
  .content-3 img {
    float: none;
    margin: auto;
    display: block;
  }

  .text-1 {
    padding-left: 0px;
  }
  .text-2 {
    padding-left: 0px;
  }
}
